
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif !important;
}
:root {
    --light-gray: #F2F2F2;
    --dark-gray: #333333;
    --ultra-dark-gray: #111111;
    --gray-3: #828282;
    --dark-blue: #295FFE;
    --light-blue: #2F80ED;
}

.modal--opener {
    text-decoration: none;
    border-bottom: 1px dashed var(--dark-blue);
}

.modal--opener:hover {
    border-bottom: none;
}

.navbar {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    top: 20px;
}

.dropdown-menu {
    border-radius: 0;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.dropdown-item {
    border-left: 0 !important;
    border-right: 0 !important;
    display: block !important;
}
.dropdown-item:hover, .dropdown-item:focus {
    background: #F2F2F2;
}

.navbar-toggler {
    margin-right: 20px;
}

.navbar-container {
    padding-right: 0;
}

.navbar-block {
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
     height: 80px;
}

.links--list {
    display: flex;
    align-items: center;
}

.links--list__mobile {
    position: absolute;
    background: white;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    top: 77px;
    min-height: 230px;
}

.links--list__mobile .nav-items {
    display: block;
}
.links--list__mobile .navbar--dropdown-nav__item {
    display: block;
}

.links--list__mobile .navbar--dropdown-nav__item a {
    border-right: none;
    border-left: none;
}

.is__hidden {
    display: none !important;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.logo-block {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar--location {
    display: flex;
    align-items: center;
}

.navbar--location a {
    position: relative;
}

.navbar--location a:before {
    content: ' ';
    position: absolute;
    background-image: url('../images/geo-pin.svg');
    background-size: 13px 13px;
    height: 13px;
    width: 13px;
    top: 5px;
    left: -20px;

}

.navbar--dropdown-nav {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.navbar--dropdown-nav__item {
    display: inline-block;
    position: relative;
    text-align: center;
    /*min-width: 140px;*/
    flex: 2;
    height: 100%;
}

.navbar--dropdown-nav__item a {
    border-right: 2px solid #F2F2F2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar--dropdown-nav__item:nth-of-type(1) a {
    border-left: 2px solid #F2F2F2;
}

.navbar--search__item {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
}

.navbar--search__item a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.links--list .navbar--search__item {
    padding-right: 10px;
}

.search--form .navbar--search__item {
    background: var(--dark-blue);
}

.search--input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search--input .form-control {
    border: none;
}

.search--form .navbar--search__item img {
    filter: brightness(0) invert(1);
}

.search--form__hidden {
    display: none;
}

.links--list__hidden {
    display: none;
}





.hero-section {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.hero-slider {
    padding-top: 88px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header--title {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 33px;
}

.page-header--text {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: var(--dark-gray);
}

.page-header--buttons {
    /*margin-top: 97px;*/
}


.features-block {
    padding-top: 85px;
    padding-bottom: 85px;
}

.features--title {
    font-size: 36px;
    line-height: 50px;
    color: var(--ultra-dark-gray);
}

.features--text h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
}

.features--text p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}

.features--list {
    margin-top: 63px;
}

.single-feature h3 {
    font-size: 64px;
    line-height: 50px;
    color: var(--dark-blue);
}

.single-feature p {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    color: var(--gray-3);
}



.banks-block {
    padding-top: 85px;
    padding-bottom: 85px;
}

.banks--title h3 {
    font-weight: 300;
    font-size: 36px;
    line-height: 50px;
    color: var(--ultra-dark-gray);
}

.banks--list {
    margin-top: 70px;
}

.bank--logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bank--logo:hover {
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}


.news-block {
    padding-top: 85px;
    padding-bottom: 85px;
}

.news--title h3 {
    font-weight: 300;
    font-size: 36px;
    line-height: 50px;
    color: var(--ultra-dark-gray);
}

.news--list {
    margin-top: 47px;
}

.single-post:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.single-post {
    margin: 0 5px;
}

.single-post--image {
    margin-bottom: 18px;
    position: relative;
}

.single-post--overlay {
    display: none;
}

.single-post:hover .single-post--overlay {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding: 0 20px 16px 30px;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;

}

.single-post--overlay .date-published {
    position: relative;
}

.single-post--overlay .date-published:before {
    content: ' ';
    position: absolute;
    background-image: url('../images/timer.svg');
    background-size: 10px 10px;
    height: 10px;
    width: 10px;
    top: 3px;
    left: -14px;

}

.single-post--overlay .comments-count {
    position: relative;
    text-align: right;
}

.single-post--overlay .comments-count:before {
    content: ' ';
    position: absolute;
    background-image: url('../images/comments.svg');
    background-size: 10px 10px;
    height: 10px;
    width: 10px;
    top: 3px;
    left: -14px;

}

.single-post--tag {
    position: absolute;
    right: 0;
    background: #219653;
    padding: 5px 20px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    z-index: 10;
}

.single-post--content {
    padding: 15px;
}

.single-post--title {
    margin-bottom: 18px;
}

.single-post--title h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    color: var(--ultra-dark-gray);
}

.single-post--text p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: var(--gray-3);
}


.footer-block {
    padding-top: 35px;
    padding-bottom: 35px;
}

.footer--city-selector {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer--city-selector a {
    position: relative;

}

.footer--city-selector a:before {
    content: ' ';
    position: absolute;
    background-image: url('../images/geo-pin-white.svg');
    background-size: 13px 13px;
    height: 13px;
    width: 13px;
    top: 5px;
    left: -20px;

}

.footer-main-nav {
    display: flex;
    align-items: center;

}

.footer-main-nav > .list-inline {
    margin: 0;
}

.footer-main-nav li {
    margin-left: 38px;
}

.footer-main-nav a {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #fff !important;
}

.footer--legal {
    margin-top: 32px;
}

.footer--legal a {
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #E0E0E0 !important;
}

.footer-block--bottom {
    padding-top: 15px;
}

.footer-section--bottom {
    border-top: 1px solid white;
}

.footer-section--bottom p {
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    color: #E0E0E0;
}


.hero-blog {
    padding: 0;
}

.hero-blog .page-header--title h1{
    padding-top: 90px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 300;
}

.post--tags .list-inline-item {
    margin-bottom: 30px;
}

.posts-block {
    padding-top: 70px;
    padding-bottom: 70px;
}

.post--tag {
    padding: 10px;
    color: var(--dark-blue);
    text-decoration: none;
    border: 1px solid  var(--dark-blue);
    font-size: 14px;
    line-height: 20px;
}

.post--tag:hover {
    background: var(--dark-blue);
    color: #fff;
}

.pagination-block {
    margin-top: 100px;
}

.pagination--item {
    padding: 10px;
    color: var(--dark-blue);
    text-decoration: none;
    border: 1px solid  var(--dark-blue);
    font-size: 14px;
    line-height: 20px;
}

.pagination--item:hover {
    background: var(--dark-blue);
    color: #fff;
}

/* SINGLE POST START */
.post-block {
    padding-top: 70px;
    padding-bottom: 70px;
}

.post--content {
    padding-right: 50px;
}

.post--content p {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: var(--dark-gray);
}

.post--content h3 {
    font-weight: 300;
    font-size: 32px;
    line-height: 50px;
    color: var(--dark-gray);
}

.post--content ul {
    padding-left: 20px;
    list-style: none;
}

.post--content ul li {
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 21px;
    color: var(--dark-gray);
}

.post--content ul li::before {
  content: "\2022";
  color: var(--dark-blue);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.post--content blockquote {
    padding: 25px 30px 25px 80px;
    background: var(--light-gray);
    position: relative;
}

.post--content blockquote::before {
    content: ' ';
    position: absolute;
    background-image: url('../images/quote.svg');
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
    left: 20px
}

.recommended--post {
    background: var(--light-gray);
}

.post--content blockquote p {
    color: var(--dark-blue);
}

.recommended--post {
    margin: 30px 0;
}

.recommended--post .single-post--meta .list-inline-item::before  {
    content: '' !important;
}

.recommended--post .single-post--meta .list-inline {
    margin: 0;
    padding: 0;

}

.recommended--post .single-post--meta .list-inline li {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
}

.recommended--post h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

.recommended--post p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    margin-bottom: 5px;
}

.recommended--post__image {
    position: relative;
}

.recommended--post__image  .single-post--tag {
    position: absolute;
    right: 12px;
    background: #219653;
    padding: 5px 20px;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    z-index: 10;
}

.post--content ol li {
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 21px;
}

.posts--recommendations h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
}

.posts--recommendations .single-post--title h3 {
    font-size: 20px;
    line-height: 30px;
}

.posts--recommendations .single-post--text p {
    font-size: 14px;
    line-height: 20px;
}

.posts--recommendations .single-post--meta ul {
    margin: 0;
    padding: 0 !important;
}

.posts--recommendations .single-post--meta ul  li {
    font-size: 14px;
    line-height: 20px;
}

.posts--recommendations .list-inline-item::before  {
    content: '' !important;
}
/* SINGLE POST END */

/* BANK PAGE START */
.bank-block {
    padding-top: 70px;
    padding-bottom: 70px;
}
.hero-block {
    position: relative;
    overflow: hidden;
}
.hero-bank--logo {
    margin-top: 95px;
}
.map--image {
    position: absolute;
    right: 0;
}
.hero-bank--logo .page-header--title h5 {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: var(--gray-3)
}
.hero-bank--nav {
    margin-top: 90px;
}
.hero-bank--nav-links {
    margin: 0;
    padding: 0;
    list-style: none;
}
.hero-bank--nav-item {
    display: inline-block;
    margin-right: 30px;
    padding: 0 20px;
}
.hero-bank--nav-item a {
    color: var(--gray-3);
}
.active-item {
    border-bottom: 2px solid var(--dark-blue);
}
.active-item a {
    color: var(--dark-blue)
}
.hero-bank--nav-item a {
    text-decoration: none;
}
.bank--name h1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 2rem;
}

.bank--about h3 {
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: var(--dark-gray)
}

.bank--about p {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: var(--dark-gray)
}
.bank--meta-item h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: var(--dark-gray)
}
.bank--meta-item p {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: var(--gray-3)
}

.bank--meta-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.bank--meta-item__text {
    margin: 0 30px 0 30px;
    flex: 2;
    text-align: left;
}
.bank--meta-item__header {
    flex: 1;
}
@media (max-width: 768px) {
    .bank--meta-item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }
    .bank--meta-item__text {
        margin: 0;
        flex: 2;
        text-align: left;
    }
    .map--image {
        display: none;
    }

    .hero-bank--logo img {
        width: 100%;
    }
    .hero-bank--nav {
        margin-top: 20px
    }

    .hero-bank--nav-links{
        list-style-type:none;
        white-space:nowrap;
        overflow-x:auto;
    }

    .hero-bank--nav-item {
        padding: 0;
    }

}
/* BANK PAGE END */

/* BANK PAGE OFFICES START */
.offices-tab h1 {
    font-weight: 300;
    font-size: 32px;
    line-height: 50px;
    color: var(--dark-gray);
}
.sidebar--filter h3 {
     font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: var(--dark-gray);
}
.sidebar--filter ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar--filter ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.sidebar--filter label {
    font-size: 14px;
    line-height: 16px;
}
.filter__checked label {
    color: var(--light-blue)
}
.filter--results {
    display: flex;
    align-items: center;
    width: 70px;
}
.filter__delete {
    color: var(--light-blue);
    font-size: 10px;
    border: 1px solid var(--light-blue);
    padding: 0 5px 1px 4px;
    margin-left: 5px;
}
.filter__delete:hover {
    cursor: pointer;
    background: var(--light-blue);
    color: #fff;
}
.offices-tab--map iframe {
    width: 100%;
    min-height: 500px;
}
.venue--item__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.venue--item__logo img {
    max-width: 110px;
}
.venue--item__is-open {
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #27AE60;
    position: relative;
}
.venue--item__is-open::before {
    content: "\2022";
    color: #27AE60;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    font-size: 50px;
    margin-left: -.5em;
    position: absolute;
}
.venue--item__address p {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--dark-gray);
    display: inline-block;
    border-bottom: 1px dashed var(--dark-gray);
}

.venue--items__metro {
    margin-left: 10px;
}

.venue--item__metro {
    position: relative;
    font-size: 14px;
    line-height: 16px;
    color: var(--gray-3);
    margin-bottom: 10px;
    display: block;
}

.blue::before {
    content: "\2022";
    color: var(--dark-blue);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    font-size: 30px;
    margin-left: -.5em;
    position: absolute;
}
.red::before {
    content: "\2022";
    color: #EB5757;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    font-size: 30px;
    margin-left: -.5em;
    position: absolute;
}
.green::before {
    content: "\2022";
    color: #27AE60;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    font-size: 30px;
    margin-left: -.5em;
    position: absolute;
}
.second--col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.second--col span {
    font-size: 14px;
    line-height: 30px;
    color: var(--gray-3);
    margin-top: 0;
}

.venue--item {
    padding-bottom: 40px;
    border-bottom: 2px solid var(--light-gray);
}
.venue--item__name h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--dark-gray);
    margin-bottom: -10px;
}
.venue--item__time .time-item {
    display: flex;
    justify-content: space-between;
}

.third--col h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--dark-gray);
}

.third--col ul{
    padding-left: 1rem;
    color: var(--gray-3);
    font-size: 14px;
    line-height: 20px;
}
.third--col ul li {
    margin-bottom: 15px;
}
.inactive__tab {
    display: none;
}
/* BANK PAGE OFFICES END */

.bg-light-gray {
  background-color: var(--light-gray) !important;
}

.bg-pink-gradient {
  background: linear-gradient(90deg, rgba(41, 95, 254, 0.2) 0%, rgba(116, 145, 228, 0.2) 100%) !important;
}

.bg-blue {
  background-color: var(--dark-blue) !important;
}

.text-blue {
  color:  var(--dark-blue) !important;
}
.text-gray {
  color:  var(--gray-3) !important;
}


.btn {
    border-radius: 0;
}

.btn-blue {
  color: #fff;
  background-color: var(--dark-blue);
  border-color: #0d6efd;
}

.btn-blue:hover {
  color: #fff;
  background-color: var(--dark-blue);
  border-color: #0257d5;
}

.btn-check:focus + .btn-blue, .btn-blue:focus {
  color: #fff;
  background-color: var(--dark-blue);
  border-color: #0257d5;
  box-shadow: 0 0 0 0.2rem rgba(49, 132, 253, 0.5);
}

.btn-check:checked + .btn-blue,
.btn-check:active + .btn-blue, .btn-blue:active, .btn-blue.active,
.show > .btn-blue.dropdown-toggle {
  color: #fff;
  background-color: var(--dark-blue);
  border-color: #0252c9;
}

.btn-check:checked + .btn-blue:focus,
.btn-check:active + .btn-blue:focus, .btn-blue:active:focus, .btn-blue.active:focus,
.show > .btn-blue.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(49, 132, 253, 0.5);
}

.btn-blue:disabled, .btn-blue.disabled {
  color: #fff;
  background-color: var(--dark-blue);
  border-color: #0d6efd;
}

.btn-outline-blue {
  color: #0d6efd;
  border-color: #0d6efd;
}

.btn-outline-blue:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-check:focus + .btn-outline-blue, .btn-outline-blue:focus {
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.5);
}

.btn-check:checked + .btn-outline-blue,
.btn-check:active + .btn-outline-blue, .btn-outline-blue:active, .btn-outline-blue.active, .btn-outline-blue.dropdown-toggle.show {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-check:checked + .btn-outline-blue:focus,
.btn-check:active + .btn-outline-blue:focus, .btn-outline-blue:active:focus, .btn-outline-blue.active:focus, .btn-outline-blue.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.5);
}

.btn-outline-blue:disabled, .btn-outline-blue.disabled {
  color: #0d6efd;
  background-color: transparent;
}
