<section class="bg-blue footer-section">
    <div class="container footer-block">
        <div class="row footer--main">
            <div class="col-lg-3 col-md-12">
                <img src="static/images/logo-white.svg" class="img-fluid" alt="logo">
            </div>
            <div class="col-lg-2 col-md-12 my-3 my-md-0  footer--city-selector">
                <a href="#" class="text-white">Санкт Петербург</a>
            </div>
            <div class="col-md-7 footer-main-nav">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="text-white">Банки</a></li>
                    <li class="list-inline-item"><a href="#" class="text-white">Банкоматы</a></li>
                    <li class="list-inline-item"><a href="#" class="text-white">Статьи и новости</a></li>
                </ul>
            </div>
        </div>
        <div class="row footer--legal">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="text-white">Политика конфиденциальности</a></li>
                    <li class="list-inline-item"><a href="#" class="text-white">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="bg-blue footer-section--bottom">
    <div class="container footer-block--bottom">
        <div class="row">
            <div class="col-md-12">
                <p>2020 Bancomat.guru. все о банковских и бонусных картах. Делайте покупки выгодными!</p>
            </div>
        </div>
    </div>
</section>
