<nav class="navbar navbar-light navbar-expand-lg bg-white navbar-block">
            <div class="container-fluid h-100 navbar-container">
                <a class="navbar-brand" href="#">
                    <img src="static/images/logo-blue.svg" class="d-inline-block align-top" alt="">
                </a>
                <button class="navbar-toggler" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="links--list h-100 collapse navbar-collapse ml-5">
                    <div class="row d-flex h-100">
                        <div class="col-md-2 navbar--location">
                            <a href="#" class="text-blue">
                                Санкт-Петербург
                            </a>
                        </div>
                        <div class="col-md-10 nav-items">
                            <div class="navbar--dropdown-nav__item">
                                <a class="nav-link dropdown-toggle text-gray btn-buy-list" id="bankiMob"
                                   href="#">Банки</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Банкоматы</a></li>
                                    <li><a class="dropdown-item" href="#">Отделения</a></li>
                                    <li><a class="dropdown-item" href="#">Что-то еще</a></li>
                                </ul>
                            </div>
                            <div class="navbar--dropdown-nav__item">
                                <a class="nav-link dropdown-toggle text-gray btn-buy-list" id="bankomatiMob"
                                   href="#">Банкоматы</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Банкоматы</a></li>
                                    <li><a class="dropdown-item" href="#">Отделения</a></li>
                                    <li><a class="dropdown-item" href="#">Что-то еще</a></li>
                                </ul>
                            </div>
                            <div class="navbar--dropdown-nav__item">
                                <a class="nav-link dropdown-toggle text-gray btn-buy-list" id="uslugiMob"
                                   href="#">Услуги банков</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Банкоматы</a></li>
                                    <li><a class="dropdown-item" href="#">Отделения</a></li>
                                    <li><a class="dropdown-item" href="#">Что-то еще</a></li>
                                </ul>
                            </div>
                            <div class="navbar--dropdown-nav__item">
                                <a class="nav-link dropdown-toggle text-gray btn-buy-list" id="articlesMob"
                                   href="#">Статьи</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Банкоматы</a></li>
                                    <li><a class="dropdown-item" href="#">Отделения</a></li>
                                    <li><a class="dropdown-item" href="#">Что-то еще</a></li>
                                </ul>
                            </div>
                            <div class="navbar--dropdown-nav__item">
                                <a class="nav-link dropdown-toggle text-gray btn-buy-list" id="newsMob"
                                   href="#">Новости</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Банкоматы</a></li>
                                    <li><a class="dropdown-item" href="#">Отделения</a></li>
                                    <li><a class="dropdown-item" href="#">Что-то еще</a></li>
                                </ul>
                            </div>
                            <div class="navbar--search__item">
                                <a class="nav-link text-blue" id="initSearch"
                                   href="#"><img src="static/images/seach.svg"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search--form h-100 search--form__hidden">
                    <div class="row d-flex h-100">
                        <div class="col-md-7 search--input">
                            <input class="form-control" placeholder="Поиск по сайту...">
                        </div>
                        <div class="col-md-5 nav-items">
                            <div class="navbar--dropdown-nav__item">
                                <a class="nav-link dropdown-toggle text-gray btn-buy-list" id="city"
                                   href="#">Город</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Москва</a></li>
                                    <li><a class="dropdown-item" href="#">Омск</a></li>
                                    <li><a class="dropdown-item" href="#">Новосибирск</a></li>
                                    <li><a class="dropdown-item" href="#">Сколько макс?</a></li>
                                </ul>
                            </div>
                            <div class="navbar--dropdown-nav__item">
                                <a class="nav-link dropdown-toggle text-gray btn-buy-list" id="locations"
                                   href="#">Отделение банка</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Банкоматы</a></li>
                                    <li><a class="dropdown-item" href="#">Что-то еще</a></li>
                                </ul>
                            </div>
                            <div class="navbar--search__item">
                                <a class="nav-link text-blue btn-buy-list" id="search"
                                   href="#"><img src="static/images/seach.svg" alt="search"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="links--list__mobile is__hidden">
                <div class="nav-items">
                    <div class="navbar--dropdown-nav__item">
                        <a class="nav-link dropdown-toggle text-gray btn-buy-list" id="banki"
                           href="#">Банки</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Банкоматы</a></li>
                            <li><a class="dropdown-item" href="#">Отделения</a></li>
                            <li><a class="dropdown-item" href="#">Что-то еще</a></li>
                        </ul>
                    </div>
                    <div class="navbar--dropdown-nav__item">
                        <a class="nav-link dropdown-toggle text-gray btn-buy-list" id="bankomati"
                           href="#">Банкоматы</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Банкоматы</a></li>
                            <li><a class="dropdown-item" href="#">Отделения</a></li>
                            <li><a class="dropdown-item" href="#">Что-то еще</a></li>
                        </ul>
                    </div>
                    <div class="navbar--dropdown-nav__item">
                        <a class="nav-link dropdown-toggle text-gray btn-buy-list" id="uslugi"
                           href="#">Услуги банков</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Банкоматы</a></li>
                            <li><a class="dropdown-item" href="#">Отделения</a></li>
                            <li><a class="dropdown-item" href="#">Что-то еще</a></li>
                        </ul>
                    </div>
                    <div class="navbar--dropdown-nav__item">
                        <a class="nav-link dropdown-toggle text-gray btn-buy-list" id="articles"
                           href="#">Статьи</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Банкоматы</a></li>
                            <li><a class="dropdown-item" href="#">Отделения</a></li>
                            <li><a class="dropdown-item" href="#">Что-то еще</a></li>
                        </ul>
                    </div>
                    <div class="navbar--dropdown-nav__item">
                        <a class="nav-link dropdown-toggle text-gray btn-buy-list" id="news"
                           href="#">Новости</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Банкоматы</a></li>
                            <li><a class="dropdown-item" href="#">Отделения</a></li>
                            <li><a class="dropdown-item" href="#">Что-то еще</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </nav>
