<div class="row news--list posts--recommendations mt-3 mt-md-5">
            <h3 class="mt-1 mb-4">Интересные статьи и новости</h3>
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                <div class="single-post">
                    <div class="single-post--image">
                        <div class="single-post--tag">
                            <span>Сбербанк</span>
                        </div>
                        <div class="single-post--overlay">
                            <div class="date-published">
                                1 августа 2019
                            </div>

                            <div class="comments-count">
                                12 комментариев
                            </div>
                        </div>
                        <img src="static/images/news-image.jpg" class="img-fluid" alt="some news"/>
                    </div>
                    <div class="single-post--content">
                        <div class="single-post--title">
                            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
                        </div>
                        <div class="single-post--text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur purus a ac non
                                egestas
                                commodo tortor ullamcorper. Arcu sit gravida phasellus sit turpis. Gravida justo,
                                venenatis nisl
                                neque cursus. Gravida enim faucibus egestas arcu. </p>
                        </div>
                        <div class="single-post--meta">
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#">#Сбербанк</a></li>
                                <li class="list-inline-item"><a href="#">#Полезное</a></li>
                                <li class="list-inline-item"><a href="#">#Новости</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                <div class="single-post">
                    <div class="single-post--image">
                        <div class="single-post--tag">
                            <span>Сбербанк</span>
                        </div>
                        <div class="single-post--overlay">
                            <div class="date-published">
                                1 августа 2019
                            </div>

                            <div class="comments-count">
                                12 комментариев
                            </div>
                        </div>
                        <img src="static/images/news-image.jpg" class="img-fluid" alt="some news"/>
                    </div>
                    <div class="single-post--content">
                        <div class="single-post--title">
                            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
                        </div>
                        <div class="single-post--text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur purus a ac non
                                egestas
                                commodo tortor ullamcorper. Arcu sit gravida phasellus sit turpis. Gravida justo,
                                venenatis nisl
                                neque cursus. Gravida enim faucibus egestas arcu. </p>
                        </div>
                        <div class="single-post--meta">
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#">#Сбербанк</a></li>
                                <li class="list-inline-item"><a href="#">#Полезное</a></li>
                                <li class="list-inline-item"><a href="#">#Новости</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                <div class="single-post">
                    <div class="single-post--image">
                        <div class="single-post--tag">
                            <span>Сбербанк</span>
                        </div>
                        <div class="single-post--overlay">
                            <div class="date-published">
                                1 августа 2019
                            </div>

                            <div class="comments-count">
                                12 комментариев
                            </div>
                        </div>
                        <img src="static/images/news-image.jpg" class="img-fluid" alt="some news"/>
                    </div>
                    <div class="single-post--content">
                        <div class="single-post--title">
                            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
                        </div>
                        <div class="single-post--text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur purus a ac non
                                egestas
                                commodo tortor ullamcorper. Arcu sit gravida phasellus sit turpis. Gravida justo,
                                venenatis nisl
                                neque cursus. Gravida enim faucibus egestas arcu. </p>
                        </div>
                        <div class="single-post--meta">
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#">#Сбербанк</a></li>
                                <li class="list-inline-item"><a href="#">#Полезное</a></li>
                                <li class="list-inline-item"><a href="#">#Новости</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                <div class="single-post">
                    <div class="single-post--image">
                        <div class="single-post--tag">
                            <span>Сбербанк</span>
                        </div>
                        <div class="single-post--overlay">
                            <div class="date-published">
                                1 августа 2019
                            </div>

                            <div class="comments-count">
                                12 комментариев
                            </div>
                        </div>
                        <img src="static/images/news-image.jpg" class="img-fluid" alt="some news"/>
                    </div>
                    <div class="single-post--content">
                        <div class="single-post--title">
                            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
                        </div>
                        <div class="single-post--text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur purus a ac non
                                egestas
                                commodo tortor ullamcorper. Arcu sit gravida phasellus sit turpis. Gravida justo,
                                venenatis nisl
                                neque cursus. Gravida enim faucibus egestas arcu. </p>
                        </div>
                        <div class="single-post--meta">
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#">#Сбербанк</a></li>
                                <li class="list-inline-item"><a href="#">#Полезное</a></li>
                                <li class="list-inline-item"><a href="#">#Новости</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
