<div class="row mb-4 venue--item">
                            <div class="col-md-4">
                                <div class="px-3">
                                <div class="venue--item__logo">
                                    <img src="static/images/logos/sberbank.svg">
                                    <span class="venue--item__is-open">Открыто</span>
                                </div>
                                <div class="venue--item__address mt-4">
                                    <p>г. Москва, пер. Расторгуевский, 3</p>
                                </div>
                                <div class="venue--items__metro mt-3">
                                    <span class="venue--item__metro blue">Улица 1905 Года (540 м пешком)</span>
                                    <span class="venue--item__metro green">Краснопресненская (600 м пешком)</span>
                                    <span class="venue--item__metro red">Баррикадная (870 м пешком)</span>
                                </div>
                                <a class="btn btn-outline-blue mt-3"> Показать на карте</a>
                                </div>
                            </div>
                            <div class="col-md-4 mt-3 mt-md-0">
                                <div class="px-3 second--col h-100">
                                    <div class="venue--item__name">
                                        <h5>Отделение № 010441 и банкомат</h5>
                                        <span>Медицинское учреждение</span>
                                    </div>
                                     <div class="venue--item__time">
                                         <div class="time-item">
                                             <span>Понедельник — пятница</span>
                                             <span>8:00–20:00</span>
                                         </div>
                                          <div class="time-item">
                                             <span>Суббота</span>
                                             <span>9:00–16:00</span>
                                         </div>
                                    </div>
                                    <div class="venue--item__text">
                                        <span>Обслуживание физ лиц, юридических лиц и VIP сервис</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mt-3 mt-md-0">
                                <div class="px-3 third--col">
                                    <h4>Услуги</h4>
                                    <ul>
                                        <li>Внести</li>
                                        <li>Оплатить и перевести</li>
                                        <li>Бесконтактное обслуживание (NFC)</li>
                                        <li>Прием наличных по одной купюре</li>
                                    </ul>
                                    <a href="#" class="text-blue modal--opener">еще услуги</a>
                                </div>
                            </div>
                        </div>
